# Visual Studio #
#################
x64
Debug
googleHashCode2017.VC.db
googleHashCode2017.VC.VC.db
googleHashCode2017.sln
googleHashCode2017.VC.VC.opendb
googleHashCode2017_Arbitre/googleHashCode2017_Arbitre.vcxproj
googleHashCode2017_Arbitre/googleHashCode2017_Arbitre.vcxproj.filters

# Output
outputFile.out

# CLion
cmake-build-debug/
.idea/
CMakeLists.txt
